* {
  margin: 0;
  padding: 0;
}

#container {
  position: fixed;
  height: 100%;
  width: 80%;
  margin: 0 10% 0 10%;
  background-color: rgb(193, 200, 210);
}
ul {
  position: absolute;
  left: 5%;
  width: 90%;
  text-align: left;
  list-style: none;
}
#chat>li>.name {

}
#chat>li>.msg {

}
.whisper {
  color: rgba(0, 0, 0, 0.25);
}

#input {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
}
#input>input {
  width: 89.5%;
  float: left;
}
#input>button {
  width: 10%;
  height: 1.5em;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  float: right;
  color: rgb(193, 200, 210);
  background-color: rgb(100, 110, 120);
}
